@using CustomersAjax.Models
@model Tuple<List<Customer>, Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "customerInfo"
    };
}

@using (Ajax.BeginForm("OnSelectCustomer", "Customer", ajaxOptions, new { id = "customerForm" }))
{
    @Html.AntiForgeryToken()

    var selected = false;
    foreach (var customer in Model.Item1)
    {
        selected = (Model.Item2 == customer);
        @Html.RadioButton("customerNumber", customer.ID, selected, new { onchange = "$('#customerForm').trigger('submit')" });
        @Html.Label(customer.Name);
        <br />

    }
    <!-- not reuired since we are using onchange radio event
    <input type="submit" id="SubmitButton" value="Display Details" />
    -->
}

<!-- insert a partial view here. Show customer details. Pass the second item of the tuple model -->

<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomerDetails.cshtml", Model.Item2)
</div>