@model CustomersAjax.Models.Customer

<h3>Customer Details</h3>
@Html.DisplayNameFor(m => Model.Name):@Html.DisplayFor(mbox => Model.Name)<br />
@Html.DisplayNameFor(m => Model.Age):@Html.DisplayFor(mbox => Model.Age)<br />
<p>Updated at @DateTime.Now</p>